.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 18px;
  text-align: center;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notes-month.retard {
  background-color: #ff030377;
}

.notes-month.realise {
  background-color: #18ff0377;
}
.notes-month.almost {
  background-color: #ff9a0377;
}

.notes-month.nonR {
  background-color: #ff030377;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ant-card-meta {
  display: flex;
  flex-direction: column !important;
}

.ant-card-meta-avatar {
  height: 100px !important;
  width: 100px !important;
  align-self: center;
  padding-bottom: 20px;
}

.ant-card-meta-avatar span,
.ant-card-meta-avatar img {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background: #ffffff;
}

.logo img {
  height: 75px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.info-compt {
  color: #000;
}
.add-button {
  margin-bottom: 30px;
}
